In [2]:
import influxdb_client
import pandas as pd

In [3]:
client = influxdb_client.connect_database()

In [4]:
df = influxdb_client.query_to_dataframe(client)

In [5]:
df

                                time         value
0   2020-07-17 18:00:13.389995+00:00  36327.839844
1   2020-07-17 18:35:43.009230+00:00  36327.839844
2   2020-07-17 23:40:32.066297+00:00  36327.839844
3   2020-07-17 23:52:27.720545+00:00  36327.839844
4   2020-07-17 23:52:29.563945+00:00  36327.839844
..                               ...           ...
562 2020-07-18 22:52:21.071922+00:00  36327.839844
563 2020-07-18 22:52:23.031373+00:00  36327.839844
564 2020-07-18 22:52:24.797042+00:00  36327.839844
565 2020-07-18 22:52:26.662244+00:00  36327.839844
566 2020-07-18 22:52:28.548728+00:00  36327.839844

[567 rows x 2 columns]